body {
    background-color: white
}

.card-header {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 10px;
    margin-bottom: 10px
}

ul {
    list-style-type: none;
    margin: 0;
    color: black;
    font-size: 16px;
    align-items:initial
}